<header id="header">
    <nav>
        <div class="container">
            <div class="text-center">
                <a href="/" class="nav-brand h1">Notes App</a>
            </div>
        </div>
    </nav>
</header>